{% extends "admin/base_site.html" %}
{% load static %}
{% block content %}
<h1>Manage Assessment Areas for "{{ section.name }}"</h1>
<form method="post" id="assessment-areas-form">{% csrf_token %}
    {{ formset.management_form }}
    <table id="assessment-areas-table">
        {% for form in formset %}
        <tr class="form-row">
            <td>{{ form.name.label_tag }}</td>
            <td>{{ form.name }}</td>
            <td>{{ form.subject.label_tag }}</td>
            <td>{{ form.subject }}</td>
            <td>
                {% if form.instance.pk %}
                <label for="{{ form.prefix }}-DELETE">Delete</label>
                {{ form.DELETE }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <button type="button" class="button" id="add-area">Add Assessment Area</button>
    <br><br>
    <button type="submit" class="button default">Save</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var form_idx = {{ formset.total_form_count }
    };
    $('#add-area').click(function () {
        $('#assessment-areas-table').append(
            '<tr class="form-row">' +
            '<td><label for="id_assessmentarea_set-' + form_idx + '-name">Name:</label></td>' +
            '<td><input type="text" name="assessmentarea_set-' + form_idx + '-name" id="id_assessmentarea_set-' + form_idx + '-name"></td>' +
            '<td><label for="id_assessmentarea_set-' + form_idx + '-subject">Subject:</label></td>' +
            '<td><select name="assessmentarea_set-' + form_idx + '-subject" id="id_assessmentarea_set-' + form_idx + '-subject">' +
            {% for subject in subjects %}
                    '<option value="{{ subject.pk }}">{{ subject.name }}</option>' +
        {% endfor %}
        '</select></td>' +
        '<td></td>' +
        '</tr>'
    );
    $('#id_assessmentarea_set-TOTAL_FORMS').val(form_idx + 1);
    form_idx += 1;
        });
    });
</script>
{% endblock %}