{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}
{% block content %}
<div id="content-main">
    <h1>{{ title }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            {{ form.student.label_tag }}
            {{ form.student }}
        </div>
        <div class="form-row">
            {{ form.term.label_tag }}
            {{ form.term }}
        </div>
        <div class="submit-row">
            <input type="submit" value="Next" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}